{% load static %}
<style>
    .vz22 {
        width: 100%;
        height: auto;
    }

    .vz22 {
        width: 180px;
    }
</style>

<div class="evolta-responsive-nav">
    <div class="container">
        <div class="evolta-responsive-menu">
            <div class="logo">
                <a class="vz11" href="{% url 'index' %}">
                    <img class="vz22" src="{% static 'assets/img/logo/logo.png' %}" alt="logo">
                </a>
            </div>
        </div>
    </div>
</div>